@font-face {
    font-family: "caakmoon";
    src: url("../public/assets/fonts/caakmoon.eot?9j9lnf");
    src: url("../public/assets/fonts/caakmoon.eot?9j9lnf#iefix") format("embedded-opentype"),
    url("../public/assets/fonts/caakmoon.ttf?9j9lnf") format("truetype"),
    url("../public/assets/fonts/caakmoon.woff?9j9lnf") format("woff"),
    url("../public/assets/fonts/caakmoon.svg?9j9lnf#caakmoon") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'caakmoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-fi-rs-play-button:before {
    content: "\e98e";
}
.icon-fi-rs-survey:before {
    content: "\e98f";
}
.icon-Apple-Color:before {
    content: "\e900";
}
.icon-fi-rs-add:before {
    content: "\e901";
}
.icon-fi-rs-add-group-f:before {
    content: "\e902";
}
.icon-fi-rs-add-l:before {
    content: "\e903";
}
.icon-fi-rs-add-user-o:before {
    content: "\e904";
}
.icon-fi-rs-album:before {
    content: "\e905";
}
.icon-fi-rs-aura-f:before {
    content: "\e906";
}
.icon-fi-rs-aura-o:before {
    content: "\e907";
}
.icon-fi-rs-back:before {
    content: "\e908";
}
.icon-fi-rs-back-2:before {
    content: "\e909";
}
.icon-fi-rs-birth:before {
    content: "\e90a";
}
.icon-fi-rs-block-user:before {
    content: "\e90b";
}
.icon-fi-rs-caak-f:before {
    content: "\e90c";
}
.icon-fi-rs-caak-o:before {
    content: "\e90d";
}
.icon-fi-rs-camera-f:before {
    content: "\e90e";
}
.icon-fi-rs-check:before {
    content: "\e90f";
}
.icon-fi-rs-checkall:before {
    content: "\e910";
}
.icon-fi-rs-check-filled:before {
    content: "\e911";
}
.icon-fi-rs-clock-o:before {
    content: "\e912";
}
.icon-fi-rs-close:before {
    content: "\e913";
}
.icon-fi-rs-collapse:before {
    content: "\e914";
}
.icon-fi-rs-comment-f:before {
    content: "\e915";
}
.icon-fi-rs-comment-o:before {
    content: "\e916";
    color: #5d636b;
}
.icon-fi-rs-compass:before {
    content: "\e917";
}
.icon-fi-rs-compass-o:before {
    content: "\e918";
}
.icon-fi-rs-copy:before {
    content: "\e919";
}
.icon-fi-rs-danger:before {
    content: "\e91a";
}
.icon-fi-rs-delete-f:before {
    content: "\e91b";
}
.icon-fi-rs-delete-o:before {
    content: "\e91c";
}
.icon-fi-rs-discount:before {
    content: "\e91d";
}
.icon-fi-rs-dots:before {
    content: "\e91e";
}
.icon-fi-rs-drag:before {
    content: "\e91f";
}
.icon-fi-rs-earn:before {
    content: "\e920";
}
.icon-fi-rs-edit:before {
    content: "\e921";
}
.icon-fi-rs-edit-f:before {
    content: "\e922";
}
.icon-fi-rs-edit-full:before {
    content: "\e923";
}
.icon-fi-rs-exit:before {
    content: "\e924";
}
.icon-fi-rs-facebook.path1:before {
    content: "\e925";
    color: rgb(255, 255, 255);
}
.icon-fi-rs-facebook.path2:before {
    content: "\e926";
}
.icon-fi-rs-flag:before {
    content: "\e927";
}
.icon-fi-rs-flash-f:before {
    content: "\e928";
}
.icon-fi-rs-flash-o:before {
    content: "\e929";
}
.icon-fi-rs-folder-f:before {
    content: "\e92a";
}
.icon-fi-rs-folder-o:before {
    content: "\e92b";
}
.icon-fi-rs-friends:before {
    content: "\e92c";
}
.icon-fi-rs-friends-o:before {
    content: "\e92d";
}
.icon-fi-rs-full-screen:before {
    content: "\e92e";
}
.icon-fi-rs-globe:before {
    content: "\e92f";
}
.icon-fi-rs-grid-f:before {
    content: "\e930";
}
.icon-fi-rs-grid-o:before {
    content: "\e931";
}
.icon-fi-rs-group-entered:before {
    content: "\e932";
}
.icon-fi-rs-group-f:before {
    content: "\e933";
}
.icon-fi-rs-group-o:before {
    content: "\e934";
}
.icon-fi-rs-help:before {
    content: "\e935";
}
.icon-fi-rs-help-thick:before {
    content: "\e936";
}
.icon-fi-rs-hide:before {
    content: "\e937";
}
.icon-fi-rs-home:before {
    content: "\e938";
}
.icon-fi-rs-home-o:before {
    content: "\e939";
}
.icon-fi-rs-ig:before {
    content: "\e93a";
}
.icon-fi-rs-image-f:before {
    content: "\e93b";
}
.icon-fi-rs-image-o:before {
    content: "\e93c";
}
.icon-fi-rs-images:before {
    content: "\e93d";
}
.icon-fi-rs-info:before {
    content: "\e93e";
}
.icon-fi-rs-link:before {
    content: "\e93f";
}
.icon-fi-rs-list-card-f:before {
    content: "\e940";
}
.icon-fi-rs-list-card-o:before {
    content: "\e941";
}
.icon-fi-rs-list-grid-f:before {
    content: "\e942";
}
.icon-fi-rs-list-grid-o:before {
    content: "\e943";
}
.icon-fi-rs-location:before {
    content: "\e944";
}
.icon-fi-rs-locker:before {
    content: "\e945";
}
.icon-fi-rs-lock-o:before {
    content: "\e946";
}
.icon-fi-rs-love-f:before {
    content: "\e947";
}
.icon-fi-rs-love-o:before {
    content: "\e948";
}
.icon-fi-rs-mail:before {
    content: "\e949";
}
.icon-fi-rs-mail-1:before {
    content: "\e94a";
}
.icon-fi-rs-mention:before {
    content: "\e94b";
}
.icon-fi-rs-menu:before {
    content: "\e94c";
}
.icon-fi-rs-minus:before {
    content: "\e94d";
}
.icon-fi-rs-minus-rounded:before {
    content: "\e94e";
}
.icon-fi-rs-mobile:before {
    content: "\e94f";
}
.icon-fi-rs-moon:before {
    content: "\e950";
}
.icon-fi-rs-move:before {
    content: "\e951";
}
.icon-fi-rs-mute:before {
    content: "\e952";
}
.icon-fi-rs-new-f:before {
    content: "\e953";
}
.icon-fi-rs-new-o:before {
    content: "\e954";
}
.icon-fi-rs-next:before {
    content: "\e955";
}
.icon-fi-rs-next-b:before {
    content: "\e956";
}
.icon-fi-rs-next-f:before {
    content: "\e957";
}
.icon-fi-rs-notification-f:before {
    content: "\e958";
}
.icon-fi-rs-notification-mb:before {
    content: "\e959";
}
.icon-fi-rs-notification-o:before {
    content: "\e95a";
}
.icon-fi-rs-pause:before {
    content: "\e95b";
}
.icon-fi-rs-pending-posts:before {
    content: "\e95c";
}
.icon-fi-rs-phone:before {
    content: "\e95d";
}
.icon-fi-rs-pie-chart:before {
    content: "\e95e";
}
.icon-fi-rs-pin-o:before {
    content: "\e95f";
}
.icon-fi-rs-play-f:before {
    content: "\e960";
}
.icon-fi-rs-play-o:before {
    content: "\e961";
}
.icon-fi-rs-post-f:before {
    content: "\e962";
}
.icon-fi-rs-post-o:before {
    content: "\e963";
}
.icon-fi-rs-preview:before {
    content: "\e964";
}
.icon-fi-rs-profile:before {
    content: "\e965";
}
.icon-fi-rs-profile-mb:before {
    content: "\e966";
}
.icon-fi-rs-refresh:before {
    content: "\e967";
}
.icon-fi-rs-remove-friend-f:before {
    content: "\e968";
}
.icon-fi-rs-reply:before {
    content: "\e969";
}
.icon-fi-rs-repost-o:before {
    content: "\e96a";
}
.icon-fi-rs-resend:before {
    content: "\e96b";
}
.icon-fi-rs-reward-o:before {
    content: "\e96c";
}
.icon-fi-rs-rocket:before {
    content: "\e96d";
}
.icon-fi-rs-rock-f:before {
    content: "\e96e";
}
.icon-fi-rs-rock-i:before {
    content: "\e96f";
    color: #5d636b;
}
.icon-fi-rs-rule:before {
    content: "\e970";
}
.icon-fi-rs-safety:before {
    content: "\e971";
}
.icon-fi-rs-save-f:before {
    content: "\e972";
}
.icon-fi-rs-save-o:before {
    content: "\e973";
}
.icon-fi-rs-search:before {
    content: "\e974";
}
.icon-fi-rs-send:before {
    content: "\e975";
}
.icon-fi-rs-settings-f:before {
    content: "\e976";
}
.icon-fi-rs-settings-o:before {
    content: "\e977";
}
.icon-fi-rs-share-f:before {
    content: "\e978";
}
.icon-fi-rs-share-o:before {
    content: "\e979";
    color: #5d636b;
}
.icon-fi-rs-smile:before {
    content: "\e97a";
}
.icon-fi-rs-social-links:before {
    content: "\e97b";
}
.icon-fi-rs-sort:before {
    content: "\e97c";
}
.icon-fi-rs-statistic-o:before {
    content: "\e97d";
}
.icon-fi-rs-thick-add-friend:before {
    content: "\e97e";
}
.icon-fi-rs-thick-check:before {
    content: "\e97f";
}
.icon-fi-rs-thick-search:before {
    content: "\e980";
}
.icon-fi-rs-top-thick:before {
    content: "\e981";
}
.icon-fi-rs-trend-f:before {
    content: "\e982";
}
.icon-fi-rs-trend-o:before {
    content: "\e983";
}
.icon-fi-rs-triangle:before {
    content: "\e984";
}
.icon-fi-rs-trophy:before {
    content: "\e985";
}
.icon-fi-rs-twitter:before {
    content: "\e986";
}
.icon-fi-rs-upload:before {
    content: "\e987";
}
.icon-fi-rs-user:before {
    content: "\e988";
}
.icon-fi-rs-video:before {
    content: "\e989";
}
.icon-fi-rs-view:before {
    content: "\e98a";
}
.icon-fi-rs-volume:before {
    content: "\e98b";
}
.icon-fi-rs-warning:before {
    content: "\e98c";
}
.icon-Android:before {
    content: "\e98d";
}
